@import '../variables/variables.styles.scss';

.slider{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

.sliderCard{
    position: relative;
    flex-shrink: 0;
    
    .sliderPictureCtr{
        position: relative;
        
        .sliderTitle{
            position: absolute;
            bottom: $g-8;
            left: $g-8;
            z-index: 1;
        }
    }
    
    .sliderDesc{
        max-width: 100%;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    
}