@import '../variables/variables.styles.scss';

.slider{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow-x: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

.sliderCard{
    position: relative;
    flex-shrink: 0;
    .sliderInfo{
        position: absolute;
        .sliderValid{
            justify-content: end;
            align-items: end;
            .sliderValidText{
                @include br($br-xs);
            }
        }
        .sliderDetails{
            justify-content: end;   
            .sliderDesc{
                max-width: 70%;
                flex-wrap: wrap;
                word-wrap: break-word;
            }
        }
    }
}