@import url('./static/styles/typography.css');
@import './static/styles/variables/variables.styles.scss';

/* STYLING */
*{
  margin: 0px;
  padding: 0px;
  // border: rgba(255, 0, 0, 0.366) 0.1px dashed;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: -0.01rem;

  
}
button{
  cursor: pointer;
}
input{
  @include padding(12px,8px);
  @include br($br-xs);
  font-size: $f-base;
  font-family: suisse;
  box-sizing: border-box;
  border: none;
  outline: 1px solid $black;
  background-color: $white;
}

select
{
	@include padding(12px,8px);
  @include br($br-xs);
  font-family: suisse;
  font-size: $f-base;
  border: none;
  outline: 1px solid black;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
}


select.paddingOffset
{
	padding-left:2.5px;
}
input.paddingOffset
{
	padding-left:5px;
}

form{
  all:unset
}

:root {
  font-family: suisse;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8d9596;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
}



button:disabled,
button[disabled],
button[disabled]:hover{
  background-color: #cccccc;
  color: #666666;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
