@font-face {
    font-family: 'suisse';
    src: local('suisse'),url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'suisse';
    src: local('suisse'),
    url('../fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
  }