@import '../variables/variables.styles.scss';

.basic-tf{
    all: unset;
    box-sizing: border-box;
    @include padding(16px,8px);
    // @include br($br-xs);
    outline: solid 1px $white;
    font-size: $f-base;
}



.button {
    border: none;
    // width: 100%;
    // @include br($br-s);
    font-weight: 700;
    font-size: $f-base;
    transition: background-color 0.3s, transform 0.1s;
}


.outline-btn{
    @include padding($g-8, $g-4);
    // background-color: $white;
    color: $black;
    border: solid 1px $black;
    &:hover {
        background-color: darken($white, 10%);
    }
    &:active {
        transform: scale(0.98);
    }
}
.primary-btn{
    @include padding($g-8, $g-4);
    background-color: $blue;
    border: solid 1px transparent;
    color: $white;
    &:hover {
        background-color: darken($blue, 10%);
    }
    &:active {
        transform: scale(0.98);
    }
}

.sidebar-btn{
    @include center-flex;
    justify-content: start;
    width: 100%;
    @include padding($g-8, $g-6);
    background-color: $secondary-black;
    text-align: start;
}
.bento-btn{
    width: 100%;
    @include padding($g-8, $g-4);
    background-color: $secondary-black;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaced-btn{
    width: 100%;
    @include padding($g-8, $g-4);
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bento-icon{
    filter: brightness(0.5);
}

.icon-right{
    rotate: -90deg;
}

.icon-padding{
    @include padding($g-2, $g-2)
}
.rotate {
    transform: rotate(180deg);
}
.transition{
    transition: all 1s ease-in-out;
}

.basic-dropdown{
    padding-right: $g-8;
}

.color-white{
    color: $white;
}

.justify-end{
    justify-content: end
}



.transparent-btn{
    font-weight: 300;
    background-color: transparent;
    color: $white;
}


.flex-btn{
    @include center-flex;
    gap: $g-2
}
.flex-align{
    display: flex;
    align-items: center;
}

.link{
    all: unset;
    cursor: pointer;
}
.link-with-icon{
    font-weight: 300;
    background-color: transparent;
    color: $white;
    all:unset;
    @include center-flex;
    gap: $g-2;
    // @include padding('0px', $g-4);
    cursor: pointer;
}
.link-with-icon img {
    transition: transform 0.3s ease-in-out;
    margin-right: 5px;
}

.link-with-icon.left:hover img {
    transform: translateX(-5px);
}
.link-with-icon.right:hover img {
    transform: translateX(5px);
}

.icon-move.right{
    rotate: 180deg;
    transition: transform 0.3s ease-in-out;
    // margin-right: 5px;
}
.icon-move:hover{
    transform: translateX(-10px);

}

.label-form{
    @include start-flex;
    flex-direction: column;
    box-sizing: border-box;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "↓";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
}

.checkbox{
    font-size: $f-sm;
    width: fit-content;
    @include center-flex;
    gap: $g-2;
    outline: none;
}

.checkbox input{
    box-sizing: border-box;
    outline: none;
    

}

.otp-container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    gap: $g-4;

    
    input{
        all: unset;
        font-weight: 700;
        font-size: $f-xl;
        @include br($br-xs);

        width: 60px;
        height: 60px;
        outline: solid 1px $black;
        text-align: center;
    }
}

.transparent-dropdown{
    background-color: transparent;
    outline: none;
    border: none;
}


.outline-white-secondary{
    outline: $secondary-white 1px solid;
}


.input-file {
    // all: unset;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    // display: none;
    
}

.custom-file-upload {
    color: $secondary-white;
    border: 1px solid $secondary-black;
    display: inline-block;
    @include padding($g-4, $g-4);
    // @include br($br-xs);
    cursor: pointer;
}

.calendar-light::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(30%);
    cursor: pointer;
}


.form-top-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.icon-topright{
    rotate: 135deg;
}
