@import '../variables/variables.styles.scss';

.background-image {
    @include image-cover;
    filter: brightness(30%);
    // position: absolute;
    top: 0;
    left:0;
    z-index: -9;
    box-sizing: border-box;
}

.image{
    
    @include image-cover;
    box-sizing: border-box;
}

.zoom-in-out{
    animation: zoomOutAnimation 5s cubic-bezier(0.5, 0.5, 0.6, 1) forwards;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background-dim {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    position: absolute;
    z-index: -10
}

@keyframes zoomOutAnimation {
    from {
        scale: 1.05;
    }
    to {
        scale: 1;
    }
}

.baseline{
    object-position: bottom;
}
.clip{
    overflow: hidden;
}


// .invert{
//     filter: invert(1);
// }
.invert-soft{
    filter: invert(0.6);
}
.invert-btn img{
    filter: invert(0.6);
}
.newdim{
    filter: brightness(40%) contrast(105%);
}
.newdim-soft{
    transition: all 0.2s ease-in-out;
    filter: brightness(60%);
}
